<title>Lighthouse</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/public/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="icon" type="image/x-icon" href="/img/logo.png">
<script src="https://www.paypal.com/sdk/js?client-id=AVGsQXeFSpX28j5w6VWhoQQHA_coXfWzZEzjSG1M8XLcikOI4tFgpNQAwD5RWljSiIvJ3VAT0lhY01qp"></script>


<!-- Meta data -->
<meta charset="UTF-8">
<meta name="description" content="Journal Together. A journal app for plural people.">
<!-- <meta name="keywords" content="HTML, CSS, JavaScript"> -->
<meta name="author" content="Dee Deyes">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:title" content="Lighthouse">
<meta property="og:image" content="https://i.ibb.co/RjFhMP6/logo.png">
<meta property="og:description" content="Journal Together. A journal app for plural people.">
<meta property="og:title" content="Lighthouse">
