<title><%= siteLanguage[session.language || "en"].title %><% if (process.env.environment == "dev"){ %> (SANDBOX) <% } %></title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/main.css?v=1.5.11">
<script defer>
    let domReady = (cb) => {
      document.readyState === 'interactive' || document.readyState === 'complete'
        ? cb()
        : document.addEventListener('DOMContentLoaded', cb);
    };
    
    domReady(() => {
      <% if (typeof cookies.skin == undefined || cookies.skin=="lighthouse"){ %>
      <% } else { %>
        $("head").append(`<link rel="stylesheet" href="/stylesheets/<%- cookies.skin %>.css?v=1.0.7">`);
      <% } %>
      
      // Display body when DOM is loaded
      let isDark= window.matchMedia("(prefers-color-scheme: dark)");
      console.log(localStorage.getItem("lighthouse_mode"))
      if (localStorage.getItem("lighthouse_mode")){
        document.querySelector("html").setAttribute("data-theme", localStorage.getItem("lighthouse_mode"));
      } else {
        let modeChoice= isDark.matches == true ? "dark" : "light";
        console.log(modeChoice)
        document.querySelector("html").setAttribute("data-theme", modeChoice);
      }
      // if (localStorage.getItem("lighthouse_mode") == "light"){
      // //   $("html").addClass("light-mode");
      // //    
      // document.querySelector("html").setAttribute("data-theme", "light");    
      // } else {
      //   // $("html").addClass("dark-mode");
      //   // $("head").append(`<link rel="stylesheet" href="/stylesheets/dark.css?v=1.0.5">`); 
      //   document.querySelector("html").setAttribute("data-theme", "dark");      
      // }
      <% if (cookies.textsize) { %> 
        // <% if (!cookies.textsize !== 1) {%> 
        //   $("*:not(.ck,.ck-reset,.ck-editor,.ck-rounded-corners)").css("fontSize", `<%= (parseFloat(cookies.textsize) || 1) * 100 %>%`);
        // <% } %>
        // $('body').css('font-size', function (i,size) {
        // return parseInt(size,10) + (clicked.id === 'up' ? 2 : -2) + 'px';
        //  });
        $( "body" ).each(function( index ) {
          // console.log( index + ": " + $( this ).text() );

          $(this).css("font-size", `${parseInt($(this).css("font-size")) * <%= parseFloat(cookies.textsize) || 1 %>}px`)
        });
      <% } %>
      document.body.style.visibility = 'visible';
      try{
      twemoji.parse(document.body);
    } catch (e){
      console.log(e)
    }
    });
    </script>
    
<link rel="icon" type="image/x-icon" href="/img/logo.png">
<script src="../../build/ckeditor.js"></script>
<script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->


<!-- Meta data -->
<link rel="me" href="https://mastodon.social/@dee_deyes"></link>
<meta charset="UTF-8">
<meta name="description" content="Lighthouse is a self-help website for people who are plural (have Dissociative Identity Disorder/DID, Otherwise Specified Dissociative Disorder/OSDD, or other situations). Keep track of day-to-day life, alters' feelings, and start building internal communication.">
<meta name="keywords" content="DID, Dissociative Identity Disorder, OSDD, diary, journal, otherwise specified dissociative disorder, ddnos, multiplicity, plural, plurality, dissociative disorder not otherwise specified, journal app, diary app">
<meta name="author" content="The Lighthouse System">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="twitter:title" content="Lighthouse">
<meta property="og:image" content="/img/logo.png">
<link rel="apple-touch-icon" sizes="128x128" href="/img/logo.png">
<link rel="icon" sizes="192x192" href="/img/logo.png">
<meta property="og:description" content="Lighthouse is a self-help website for people who are plural (have Dissociative Identity Disorder/DID, Otherwise Specified Dissociative Disorder/OSDD, or other situations). Keep track of day-to-day life, alters' feelings, and start building internal communication.">
<meta property="og:title" content="Lighthouse">

<script>0</script>

<script>
  
        const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
// console.log(new Date().toLocaleDateString("de-DE", options));
// "Donnerstag, 20. Dezember 2012"

// an application may want to use UTC and make that visible
options.timeZoneName = "short";
// console.log(new Date().toLocaleDateString("en-US", options));

</script>