<%
// function capitalise(s)
// {
//     return s[0].toUpperCase() + s.slice(1);
// } 
%>
<nav>
  <div id="logo" style="display: inline-block;"><a href="/"><img style="vertical-align:middle; margin-right: 10px;" src="/img/logo.png" width="48px" alt="Lighthouse logo"><br/><span id="logoname">Lighthouse<br/>
    <% if (cookies.loggedin) { %>
      <sup>Hello, <%= cookies.username %>!</sup>
    <% } else { %>
    <sup>Journal Together</sup>
      <% } %>
  </span></a></div>
  <% if (cookies.loggedin){ %>
<a class="navel" href="/logout">Logout</a>
  <% } else { %>
    <a class="navel" href="/signup">Sign Up</a>
    <a class="navel" href="/login">Log in</a>

  <% } %>
  <!-- <a class="navel" href="/">Home</a> -->
  <a class="navel" href="/about">Information</a>
  <% if (cookies.loggedin){ %>
    <% if (session.system_term) { %> 
      <a class="navel" href="/system">My <%= capitalise(session.system_term) %></a>
    <% } else { %>
      <a class="navel" href="/system">My <%= session.system_term %></a>
      <% } %>
      
  <% } %>
  <a class="navel" href="/crisis">In crisis?</a>
	  <% if (cookies.loggedin){ %>
	  <a class="navel" href="/profile">Settings</a>
	  <% } %>
    <a class="navel" href="/changelog">Changelog</a>
  <button class="navel" onclick="history.back()">Go Back</button>
</nav>
<div class="navmobile">
  <div id="logo" style="display: inline-block; float: left;"><a href="/"><img style="vertical-align:middle; margin-right: 10px;" src="/img/logo.png" width="48px" alt="Lighthouse logo"><br/></a></div>
  <div id="hamburger"><span class="material-symbols-outlined">
    menu
    </span></div>
  <ul class="menu" id="mobilenav" style="display:none;">
    <% if (cookies.loggedin) { %>
      <sup>Hello, <%= cookies.username %>!</sup>
      <% } else { %>
      <sup>Journal Together</sup>
        <% } %>
    <% if (cookies.loggedin){ %>
      <li><a class="navel" href="/logout">Logout</a></li>
        <% } else { %>
          <li><a class="navel" href="/signup">Sign Up</a></li>
          <li><a class="navel" href="/login">Log in</a></li>         
        <% } %>
        <li><a class="navel" href="/about">Information</a></li>
        <% if (cookies.loggedin){ %>
          <li><a class="navel" href="/system">System</a></li>
        <% } %>
        <li><a class="navel" href="/crisis">In crisis?</a></li>
          <% if (cookies.loggedin){ %>
          <li><a class="navel" href="/profile">Settings</a></li>
          <% } %>
          <li><a class="navel" href="/changelog">Changelog</a></li>
  </ul>
</div>
<script>
  $( "#hamburger" ).on( "click", function() {
   $("#mobilenav").toggle("fast");
} );
</script>