<nav>
        <div id="logo" style="display: inline-block;"><img style="vertical-align:middle; margin-right: 10px;" src="/img/logo.png" width="48px" alt="Lighthouse logo"><br/>Lighthouse<br/> <sup>Journal Together</sup></div>
        <% if (session.loggedin== true){ %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log in</a>
        <% } %>
        <a href="/">Home</a>
        <a href="/about">Information</a>
        <% if (session.loggedin== true){ %>
            <a href="/system">System</a>
        <% } %>
        <a href="/crisis">In crisis?</a>
        <button onclick="history.back()">Go Back</button>
        <% if (session.loggedin== true){ %>
            <div>Hi, <%- session.username %>!</div>
        <% } %>
</nav>
