/* Sand Theme Colours */
:root{
    --col1: #8a3b0e;
    --col2: #ffbb3d;
    --col3: #f5e340;
    --col4: #701313;
    --col5: #be620c;
	--col6: #a84716;
    --col7: #ffdba9;
    --col8: #3d0f09;
    color-scheme: light;
    --forum-shade: rgba(42, 0, 61, 0.05);
}
html{
    background-image: url("../img/autumn-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menubg{
    background: url("/img/autumn.jpg");
    background-size: cover;
    background-position: center center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(109, 5, 5) 0%, rgba(41, 23, 0, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}