/* Coral Theme Colours */
:root{
    --col1: #791122;
    --col2: #ffae34;
    --col3: #fd91d0;
    --col4: #e922ad;
    --col5: #df5248;
	--col6: #ca3e5c;
    --col7: #ffceb2;
    --col8: #501638;
    color-scheme: light;
}
html{
    background-image: url("../img/coral.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#menubg{
    background: url("/img/coral-reef.jpg");
    background-size: cover;
    background-position: center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,7,82,0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}