/* Coral Theme Colours */
:root{
    --col1: #791122;
    --col2: #ffae34;
    --col3: #fd91d0;
    --col4: #e922ad;
    --col5: #df5248;
	--col6: #ca3e5c;
    --col7: #ffceb2;
    --col8: #501638;
}
html{
    background-image: url("../img/coral.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}