:root{
    --col1: #b1dbff;
    --col2: #5c5c94;
    --col3: #f09b1d;
    --col4: #D93425;
    --col5: #271e2e;
	--col6: #000f25;
    --col7: #2d283a;
    --col8: #04aac4;
    color-scheme: dark;
}

#wrapper{

    background: rgba(0, 0, 0, 0.5);
}
*{
    color: ghostwhite;
}
html{
    background-image: url("../img/night-lighthouse.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logoname{
    color: var(--col3);
}
#logoname > * {
    color: var(--col3)
}

h1, h2, h3, h4{
    color: var(--col4);
}
a:visited{
    color: var(--col1);
}
a:hover{
    color: var(--col3);
}

.splash{
    width: 30vw;
    /* background: var(--col2); */
    background: url('../img/svg/splash-fish.svg'), var(--col2);
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid var(--col1);
    color: var(--col8);
}
.navel:hover {
    background: var(--col3);
    color: var(--col2);
    transition: .3s;
}

.glow{
    -webkit-filter: drop-shadow(0px 0px 3px rgba(20, 72, 227,.75));
         filter: drop-shadow(0px 0px 3px rgba(20, 72, 227, .75));
}