/* Ice Cream Theme Colours */
[data-theme="light"]{
    --col1: #791122;
    --col2: #e46e6e;
    --col3: #6f97bd;
    --col4: #ffcc26;
    --col5: #33b419;
	--col6: #f4c3f0;
    --col7: #f3f2ed;
    --col8: #500921;
    --forum-shade: rgba(177, 0, 147, 0.05);
    --input: rgba(255, 158, 190, 0.2); 
    --bg-img: url("../img/sorbet.png");
    --menu-bg: url("../img/icecream_banner.jpg");
    --wrapper: rgba(255, 246, 241, 0.527);
    --text: black;
    --archivedtxt: grey;
    --archivedbg: silver;
    --lighthouse: rgb(248, 202, 183);
    --grad1: rgba(167, 12, 97, 0);
    --grad2: rgb(248, 92, 170);
    --nav-txt: #2f80a5;
    --button: var(--nav-txt);
}
[data-theme="dark"]{
    --col1: #f3778c;
    --col2: #6d0d32;
    --col3: #3881c5;
    --col4: #852757;
    --col5: #78d670;
	--col6: #c73183;
    --col7: #102e52;
    --col8: #ff8ab1;
    --forum-shade: rgba(177, 0, 147, 0.05);
    --input: rgba(236, 194, 160, 0.2); 
    --bg-img: url("../img/sorbet.png"), var(--col7);
    --menu-bg: url("../img/icecream_banner.jpg");
    --wrapper: rgba(44, 70, 100, 0.527);
    --text: rgb(245, 245, 213);
    --archivedtxt: grey;
    --archivedbg: silver;
    --lighthouse: rgb(248, 202, 183);
    --grad1: rgba(12, 66, 167, 0);
    --grad2: rgb(15, 6, 65);
    --nav-txt: #ffe9c8;
}


.greeting{
    color: white;
}
hr{
    height:3em;
    background-image:url('../img/svg/horizontal_rule_icecream.svg');
}

.dropdown-content a{
    color: var(--nav-txt);
}
.warningbutton{
    color: var(--text);
}