/* Default colours */
:root{
    color-scheme: light;
    --col1: #123859;
    --col2: #9CD9D3;
    --col3: #D9B23D;
    --col4: #D93425;
    --col5: #911111;
	--col6: #52565c;
    --col7: #def1f0;
    --col8: #065966;
}
html{
    /* background: var(--col7); */
    background-image: url("../img/lighthouse-photo-bw.png");
}
#menubg{
    background: url("/img/day-beach.jpg");
    background-size: cover;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(46, 128, 175) 0%, rgba(25, 31, 100, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}