:root{
    --col1: #123859;
    --col2: #9CD9D3;
    --col3: #D9B23D;
    --col4: #D93425;
    --col5: #911111;
}
html{
    background: ghostwhite;
    overflow-y: scroll;
}
body{

}

*{
    font-family: sans-serif;
}

input{
    margin-bottom: calc(2em);
}

dt{
    font-weight: bold;
    font-style: italic;
    color: navy;
}

dd{
    margin-bottom: 2em;
}

form{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
}

nav{
    width: 100%;
    text-align: left;
    background: grey;
    padding: 1em;
    position: fixed;
    color: white;
    top:0;
    left: 0;
    filter: drop-shadow(3px 10px 4px rgba(0,0,0, .2));
    z-index: 200;
}

nav a{
  font-size: calc(1em);
}

article{
    border-bottom: 1px solid black;
    padding: calc(1em);
}
article:last-child{
    border-bottom: 0;
}


.navel, button, input[type=submit], input[type=reset] {
    display: inline-block;
    margin: auto calc(1em);
    text-decoration: none;
    transition: 1s;
    vertical-align: middle;
    background: var(--col2);
    padding: calc(.5em);
    border-radius: 0px;
    color: var(--col1);
    border: 0;
}

.navel:hover {
    background: var(--col3);
    border-radius: 20px;
    text-decoration: none;
    transition: .3s;
}

textarea{
    resize: none;
    white-space: pre-wrap;
    padding: calc(1em);
}

p{
    text-indent: 1em;
}

h1, h2, h3, h4{
    color: var(--col5);
}

li {
    margin-bottom: 1em;
}

footer{
  font-size: 10px;
  font-style: italic;
  position: fixed;
  padding: 5px 5px 0px 5px;
  bottom: 0;
  right: 0;
  width: 20%;
  /* Height of the footer*/
  /* height: 40px; */
  background: silver;
  border-radius: 20px 0 0 0;
}

/* IDs */

/* #logo{
    position: fixed;
    top: 1vh;
    left: 1vh;
} */


#wrapper{
    width: 50vw;
    /* border: 1px solid black; */
    height: auto;
    min-height: 10vh;
    padding: calc(2em);
    margin: 0 auto;
    position: relative;
    top: 20vh;
    max-height: 80vh;
}

#wrapper::after{
  content: "";
  clear: both;
  display: table;
}

#blogpopup{
    padding: calc(.5em);
    background: ghostwhite;
    width: 25vw;
    z-index: 4;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
}

#logo a{
    color: white;
    text-decoration: none;
}


/* Classes */

.warningtext{
    font-style: italic;
    font-weight: bold;
    color: var(--col4);
}

.warningbutton{
    background: var(--col4);
    color: white;
    border:0;
    padding: calc(1em);
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}
.warningbutton:hover{
    padding: calc(1em) calc(2em);
    background: red;
}


.grid{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 1em;
    width: calc(50vw);
    max-width: calc(50vw);
    flex-wrap: wrap;
}

.grid > a, .alterbutton, .editbtn, .deletebtn{
    padding: 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    flex: 1 0 50%;
    flex-grow: 0;
    border-radius: 15px;
    transition: .2s;
    background: var(--col2);
    max-width: 5em;
    /* width: calc(100% * (1/4) - 5px - 1px); */
}
.grid > a:hover, .alterbutton:hover{
    background: var(--col3);
}

.grid-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: .5em;
    width: calc(50vw);
    max-width: calc(50vw);
    flex-wrap: wrap;
}

.grid-sm > a{
    padding: .5em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    flex: 1 0 50%;
    flex-grow: 0;
    border-radius: 15px;
    transition: .2s;
    background: var(--col2);
    max-width: 7em;
    /* width: calc(100% * (1/4) - 5px - 1px); */
}
.grid > a:hover{
    background: var(--col3);
}



.vtinyimg{
    width: calc(2em);
    height: auto;
}
.tinyimg{
    width: calc(4em);
    height: auto;
}
.splash{
    width: calc(65vw);
    background: lightyellow;
    padding: calc(2em);
    border: 2px solid var(--col3);
    border-radius: 15px;
}

.editbtn, .deletebtn {
    font-weight: normal;
    color: white;
}

.editbtn {
    background: rgb(110, 190, 110);
}

.deletebtn {
    background: rgb(190, 110, 110);
}

@media only screen and (max-width: 600px) {
  nav a, nav button {
      font-size: 60%;
  }
  nav{
      padding: 1%;
  }
  #wrapper{
      top: 7vh;
      /* background: lightblue; */
      overflow-wrap: break-word;
  }
  #logoname{
      display: none;
  }
  #logo img{
      width:10vw;
  }
}
