*{
    font-family: sans-serif;
}

input{
    margin-bottom: calc(2em);
}

dt{
    font-weight: bold;
    font-style: italic;
}

/* IDs */
#wrapper{
    width: 50vw;
    /* border: 1px solid black; */
    padding: calc(2em);
    margin: 0 auto;
}
