@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@500&display=swap');
:root{
    color-scheme: dark light;
    --col1: #123859;
    --col2: #9CD9D3;
    --col3: #D9B23D;
    --col4: #D93425;
    --col5: #911111;
	--col6: #52565c;
    --col7: #def1f0;
    --col8: #065966;
    --polar: ghostwhite;  
    --forum-shade: rgba(0,0,0,.05);
}
.dark_mode{
    background-image: url("../img/night-lighthouse.png"), rgb(30,30,30);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.light_mode{
    background: var(--col7);
}
hr {
    display:block;
    border:0px;
    height:calc(2em);
    background-image:url('../img/svg/horizontal_rule.svg');
    background-repeat: no-repeat;
    background-position: center; 
}
html{
    overflow-y: scroll;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

body{
    padding-top:1em;
    /* background:var(--col7); */
}
td {
    vertical-align: baseline;
  }
a{
    color: var(--col1);
    transition: 0.7s;
}
a:visited{
    color: var(--col8);
}
a:hover{
    color: var(--col6);
}
*{
    font-family: 'Lexend',Verdana, Arial,sans-serif;
    scroll-margin-top: 10em;
    color: rgb(5,5,5);
    word-wrap: break-word;
}
small{
    font-weight: 300;
}

input{
    margin-bottom: calc(2em);
}

dt{
    font-weight: bold;
    font-style: italic;
    color: var(--col1);
}

dd{
    margin-bottom: 2em;
}

form{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.navmobile{
    display:none;
  }

nav {
    width: 100%;
    text-align: left;
    background: var(--col6);
    padding: 1em;
    position: fixed;
    color: white;
    top:0;
    left: 0;
    filter: drop-shadow(0 3px 3px rgba(0,0,0, .2));
    z-index: 5;
    height: 6em;
    max-height: 6em;
}

/* nav a, nav button{
  font-size: calc(1em);
  font-weight: 400;
  vertical-align: middle;
} */

article{
    border-bottom: 1px solid black;
    padding: calc(1em);
}
article:last-child{
    border-bottom: 0;
}

input[type=checkbox]{
    width: 1em;
}

.navel, button, input[type=submit], input[type=reset], .linkbutton {
    display: inline-block;
    margin: auto calc(1em);
    text-decoration: none;
    transition: 1s;
    vertical-align: middle;
    background: var(--col2);
    padding: calc(.5em);
    border-radius: 0px;
    color: var(--col1);
    border: 0;
    font-size: 1em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
input[type=submit], input[type=reset], .linkbutton {
    margin-top: 1em;
    margin-bottom: 1em;
}
button:disabled, input[type=submit]:disabled{
    background: silver;
    color: grey;
}

.navel:hover {
    background: var(--col3);
    /* border-radius: 20px; */
    text-decoration: none;
    transition: .3s;
}
.navel:visited{
    color: var(--col1);
}

.infodd{
    border: 1px solid red;
    width: 10vw;
    z-index: 30;
}
.pixelart{
    image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

textarea{
    resize: none;
    white-space: pre-wrap;
    padding: calc(1em);
    margin-bottom: calc(.25em);
}

p{
    text-indent: 1em;
}

h1, h2, h3, h4{
	font-family: 'Roboto Slab', serif;
    color: var(--col5);
}

li {
    margin-bottom: 1em;
}

footer{
  font-size: 10px;
  font-style: italic;
  position: fixed;
  padding: 5px 5px 0px 5px;
  bottom: 0;
  right: 0;
  width: 20%;
  /* Height of the footer*/
  /* height: 40px; */
  background: silver;
  /* border-radius: 20px 0 0 0; */
}

/* IDs */


#wrapper{
    width: 80vw;
    /* border: 1px solid black; */
    height: 100%;
    min-height: 10vh;
    padding: calc(2em);
    margin: 9vh auto auto auto;
    background: rgba(255,255,255,.4);
}

#wrapper::after{
  content: "";
  clear: both;
  display: table;
}

#blogpopup{
    padding: calc(.5em);
    background: ghostwhite;
    width: 25vw;
    z-index: 4;
    position: absolute;
    border: 1px solid black;
    /* border-radius: 10px; */
}

#logo a{
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

#logoname, #mobilenav{
    color: var(--col7);
	font-family: 'Berkshire Swash','Lobster Two', cursive;
    font-size: 2em;
}
.version{
    color: var(--col7);
    font-size: .75em;
}
#logoname > *, #mobilenav >*, #hamburger > *{
    color: var(--col2);
    font-size: 1em;
}

#hamburger > span{
    vertical-align: middle;
}
#subnav ul{
    list-style: none;
}

/* Classes */


.warningbutton{
	font-style: italic;
    font-weight: bold;
    color: var(--col4);
    background: var(--col4);
    color: white;
    border:0;
    padding: calc(1em);
    text-transform: uppercase;
    font-weight: bold;
    transition: .25s;
}
.warningbutton:hover{
    background: red;
	color: white;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb:before{
    content:"➥";
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    /* content: "/\00a0"; */
    content:'/';
  }



.grid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    width: 100%;
    /* max-width: calc(50vw); */
    flex-wrap: wrap;
}
.grid > *{
    margin-top: .5em;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
.child {
    flex: 1 0 21%;
    margin: calc(.5em);
    height: 5em;
    min-height: 5em;
    /* max-height: 5em; */
    max-width:7em;
    padding: 1em;
    justify-items: center;
  }

 .alterbutton, .editbtn, .deletebtn{
    /* padding: 1em; */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--col1);
    flex: 2 0 50%;
    flex-grow: 0;
    /* border-radius: 15px; */
    transition: .2s;
    background: var(--col2);
    max-width: 5em;
    /* width: calc(100% * (1/4) - 5px - 1px); */
    padding: calc(.5em);
 }
.grid > a:hover, .alterbutton:hover{
    background: var(--col3);
}

.grid-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: .5em;
    width: calc(50vw);
    max-width: calc(50vw);
    flex-wrap: wrap;
}

.grid-sm > a{
    padding: .5em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--col1);
    flex: 1 0 50%;
    flex-grow: 0;
    /* border-radius: 15px; */
    transition: .2s;
    background: var(--col2);
    max-width: 7em;
    /* width: calc(100% * (1/4) - 5px - 1px); */
}
.grid > a:hover{
    background: var(--col3);
}

.polaroid {
    padding-top: calc(.5em);
    padding-bottom: 1em;
    background: var(--polar);
    text-align: center;
    height: 9em;
    width: 7em;
    filter: drop-shadow(0 0 1px rgba(0,0,0,.5));
    flex: 1 0 21%;
    margin: calc(.5em);
    justify-items: center;
    text-decoration: none;
    scroll-margin-top: 0;
}


.vvtinyimg{
    width: calc(1em);
    height: auto;
    margin:auto;
    vertical-align: middle;
}

.vtinyimg{
    width: calc(2em);
    height: auto;
    margin:auto;
    vertical-align: middle;
}
.tinyimg{
    width: calc(4em);
    height: auto;
}
.smallimg{
    width: calc(6em);
    height: auto;
}
.medimg{
    width: calc(8em);
    height: auto;
}
.lgimg{
    width: calc(10em);
    height: auto;
}
.splash{
    width: 50vw;
    background: url('../img/svg/splash-fish.svg'), var(--col2);
    background-repeat: no-repeat;
    background-position: right;
    padding: calc(2em);
    border: 2px solid var(--col8);
    /* border-radius: 15px; */
    margin: calc(1em) auto auto auto;
    color: var(--col1);
}

.editbtn, .deletebtn {
    font-weight: normal;
    color: white !important;
}

.editbtn {
    background: rgb(78, 161, 78);
    transition: .5s;
}

.deletebtn {
    background: rgb(151, 51, 51);
    transition: .5s;
}

.editbtn:hover{
    background: rgb(123, 177, 24);
}
.deletebtn:hover {
    background: rgb(207, 5, 5);
    transition: .5s;
}
.fa-trash-alt, .fa-pencil{
  color: grey;
  transition: .5s;
}
.fa-trash-alt:hover{
  color: red;
}
.fa-pencil:hover{
  color: green;
}
form > label{
text-align: center;
}

.systemdiv{
    display: block;
    /* vertical-align: middle; */
    margin-top: calc(1em);
    border-top: 1px solid #911111;
    padding: 2vh 0;
}
.subsystem{
    /* Will always be added with systemdiv */
    padding-left: 2em
}
.systembutton {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: calc(1em);
    background: var(--col2);
    word-wrap: break-word;
    width: 10vw;
    /* border-radius: 20%; */
    text-decoration: none;
    margin-right: calc(5vw);
}
.systembutton img{
    display: block;
    margin: 0 auto;
    width: calc(3em);
}

#popup{
    border: 1px solid black; 
    background: ghostwhite; 
    width: 40vw; 
    padding: 1em; 
    z-index:9999998; 
    position: absolute; 
    top: 20vh; 
    display: none;
}

.threadpost{
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    border-bottom: 1px solid var(--col1)
}
.threadpost > .user{
    width: 20%;
    border-right: 1px solid var(--col1);
    padding: 1em;
}
.threadpost > .post{
    width: 80%;
    padding: 1em;
}

input[type=submit][disabled=disabled],
button[disabled=disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media only screen and (max-width: 800px) {
    body{
        position: relative;
    top: 0;
    }
  nav a, nav button {
      font-size: 60%;
  }
  .navmobile{
    display:block;
    width: 100%;
    text-align: left;
    background: var(--col6);
    padding: .5em;
    position: fixed;
    color: white;
    top:0;
    left: 0;
    filter: drop-shadow(3px 10px 4px rgba(0,0,0, .2));
    z-index: 5;
    /* vertical-align: middle; */
  }
  .menu li{
    list-style: none;
  }
  #hamburger{
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  }
  nav{
	  display:none;
  }
  #wrapper{
      top: 300px;
      overflow-wrap: break-word;
	  width: 85vw;
  }
  #logoname{
      display: none;
  }
  #logo img{
      width:7em;
	  margin-bottom: 1vh;
      vertical-align: middle;
  }
  footer{
	  width: 95%;
	  position: fixed;
	  bottom:0;
	  left: 0;
	  padding: calc(.5em);
	  border-radius: 0;
  }
  #blogpopup{
	  min-width: 75vw;
  }

  .systemdiv{
    display: block;
    /* vertical-align: middle; */
    margin-top: calc(1em);
    border-top: 1px solid #911111;
    padding: 2vh 0;
    text-align: center;
}
.systembutton {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    width: 50vw;
    /* border-radius: 20%; */
    text-decoration: none;
    margin-right: calc(5vw);
}
.systembutton img{
    display: block;
    margin: 0 auto;
    width: calc(3em);
}
#popup{
    border: 3px solid var(--col1); 
    background: ghostwhite; 
    width: 70vw; 
    padding: .5em; 
    z-index:9999998; 
    position: absolute; 
    top: 5vh; 
    display: none;
    box-shadow: 0px 0px 50px var(--col1);
}

#logo img{
    width:5em;
    margin-bottom: 1vh;
    vertical-align: middle;
}

.threadpost{
    display:block;
}
.threadpost > .user{
    width: 100%;
    border-right: 0;
}
.threadpost > .post{
    width: 100%;
    padding: 1em;
}
.parent{
    padding: 0;
    flex: 0 0 33%;
}
.polaroid {
    /* padding-top: calc(.5em);
    padding-bottom: 1em;
    height: 9em;
    width: 7em;
    filter: drop-shadow(0 0 1px rgba(0,0,0,.5));
    flex: 1 0 21%;
    margin: calc(.5em); */
    transform: scale(.75);
    
}
a> .polaroid{
    text-decoration: none;
}
.grid{
    max-width: none;
    padding:0;
}
/* End Mobile */
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }


 .glow{
    box-shadow:transparent;
 }

 #menubg{
    background: grey;
    width: 100%;
    height: 150px;
    z-index:-333;
    position: absolute;
    top:0;
    left:0;
 }
 .importantterm{
    color: var(--col5);
 }
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--col7);
    margin: auto;
    padding: 20px;
    border: 2px solid var(--col6);
    border-radius: 15px;
    width: 80%;
    overflow-y: scroll;
    max-height: 80%;
  }
  
  /* The Close Button */
  .close {
    color: var(--col4);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
   /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  select, select > *{
    background: var(--col2);
    color: var(--col1);
    border:none;
    padding: .25em;
  }

  p, span, h1,h2,h3,h4{
    cursor: default;
  }

  .hoverhint{
    color: var(--col6);
    cursor: help;
  }

  .indented{
    margin-left: 2em;
    border-left: 2px solid var(--col1);
  }
  .loading {
    /* font-size: 30px; */
  }
  
  .loading::after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
  }
  
  @keyframes dotty {
      0%   { content: ''; }
      25%  { content: '.'; }
      50%  { content: '..'; }
      75%  { content: '...'; }
      100% { content: ''; }
  }
  .image > img{
    max-width: 100%;
  }