/* Mermaid Theme Colours */
:root{
    --col1: #04385a;
    --col2: #d68dd8;
    --col3: #53d0f7;
    --col4: #5f19af;
    --col5: #5827b3;
	--col6: #265d64;
    --col7: #b1f1ee;
    --col8: #161f50;
    color-scheme: light;
}
html{
    background-image: url("../img/fish.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


a{
    color: var(--col5);
}
a:hover{
    color: var(--col4);
}

a:visited{
    color: var(--col5);
}


#menubg{
    background: url("/img/glitter.jpg");
    background-size: cover;
    background-position: bottom 35% center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(17, 148, 115) 0%, rgba(2, 7, 77, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}

.systembutton > *{
    color: var(--col5);
}