@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Homemade+Apple&family=Noto+Serif+JP&family=Noto+Serif+KR&family=Permanent+Marker&family=Redacted+Script&family=Rubik&family=Shadows+Into+Light&display=swap');
@font-face {
  font-family: 'LinjaSuwi';
  src: url('/fonts/linjasuwi.otf');
}
@font-face {
  font-family: 'wingdings';
  src: url('/fonts/wingdings.ttf');
}
         /* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
         .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
          {
            content: 'Default';
          }
          
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before
          {
            content: 'Times New Roman';
            font-family: 'Times New Roman';
          }
          
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
          {
            content: 'Arial';
            font-family: 'Arial';
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='monospace']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='monospace']::before
          {
            content: 'Monospace';
            font-family: 'Courier New', Courier, monospace;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='cursive']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='cursive']::before
          {
            content: 'Cursive';
            font-family: cursive;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='creepster']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='creepster']::before
          {
            content: 'CREEPSTER';
            font-family: 'creepster', cursive;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='homemade-apple']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='homemade-apple']::before
          {
            content: 'Homemade Apple';
            font-family: 'homemade apple', cursive;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='marker']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='marker']::before
          {
            content: 'Permanent Marker';
            font-family: 'Permanent Marker', cursive;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='redacted']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='redacted']::before
          {
            content: 'Redacted';
            font-family: 'Redacted Script';
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='shadows']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='shadows']::before
          {
            content: 'Shadows Into Light';
            font-family: 'Shadows Into Light';
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='rubik']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='rubik']::before
          {
            content: 'روبيك (Rubik, Arabic)';
            font-family: 'Rubik';
            font-language-override: "AR";
            direction: rtl !important;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='notojp']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='notojp']::before
          {
            content: '能登セリフ (Noto Serif, Japanese)';
            font-family: 'Noto Serif JP';
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='notokr']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='notokr']::before
          {
            content: '노토 세리프(Noto Serif, Korean)';
            font-family: 'Noto Serif KR', serif;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='wingdings']::before,
          .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='wingdings']::before
          {
            content: 'Wingdings';
            font-family: 'wingdings', 'Zapf Dingbats', Symbol;
          }
          .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='linjasuwi']::before,
    .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='linjasuwi']::before
    {
      content: 'linjasuwi';
      font-family: 'LinjaSuwi';
    }
          
          /****************************************************
          Set the font-family content used for the HTML content.
          *****************************************************/
          .ql-font-arial {
            font-family: 'Arial';
          }
          
          .ql-font-times-new-roman {
            font-family: 'Times New Roman';
          }
          .ql-font-monospace {
            font-family: 'Courier New', Courier, monospace;
          }
          .ql-font-cursive {
            font-family: cursive;
          }
          .ql-font-times-new-roman {
            font-family: 'Times New Roman';
          }
          .ql-font-creepster {
            font-family: 'creepster', cursive;
          }
          .ql-font-homemade-apple {
            font-family: 'Homemade Apple', cursive;
          }
          .ql-font-marker {
            font-family: 'Permanent Marker', cursive;
          }
          .ql-font-redacted {
            font-family: 'Redacted Script', cursive;
          }
          .ql-font-shadows {
            font-family: 'Shadows Into Light', cursive;
          }
          .ql-font-rubik {
            font-family: 'Rubik', serif;
            direction: rtl !important;
          }
          .ql-font-notojp {
            font-family: 'Noto Serif JP', serif;
          }
          .ql-font-notokr {
              font-family: 'Noto Serif KR', serif;
          }
          .ql-font-linjasuwi {
            font-family: 'LinjaSuwi' !important;
        }
          .ql-font-wingdings {
            font-family: 'wingdings', 'wingdings', 'Zapf Dingbats', Symbol !important;
        }
