/* Sand Theme Colours */
:root{
    --col1: #4d3d1e;
    --col2: #e0b177;
    --col3: #c09f84;
    --col4: #8a775e;
    --col5: #8a5e44;
	--col6: #614d43;
    --col7: #cfc1ae;
    --col8: #504116;
    color-scheme: light;
    --forum-shade: rgba(104, 59, 1, 0.05);
}
html{
    background-image: url("../img/autumn-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menubg{
    background: url("/img/sand2.jpg");
    background-size: cover;
    background-position: center center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(107, 73, 41) 0%, rgba(41, 23, 0, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}