/* Sand Theme Colours */
[data-theme="light"]{
    --col1: #4d3d1e;
    --col2: #e0b177;
    --col3: #e9c5a8;
    --col4: #77634a;
    --col5: #8a5e44;
	--col6: #6e4734;
    --col7: #eee3d4;
    --col8: #504116;
    --forum-shade: rgba(10, 13, 153, 0.05);
    --input: rgba(236, 194, 160, 0.2); 
    --bg-img: url("../img/sand.png"), var(--col3);
    --menu-bg: url("../img/sand2.jpg");
    --wrapper: rgba(255, 246, 241, 0.527);
    --text: black;
    --archivedtxt: grey;
    --archivedbg: silver;
    --lighthouse: rgb(248, 202, 183);
    --grad1: rgba(167, 94, 12, 0);
    --grad2: rgb(65, 23, 6);
    --nav-txt: #ffe9c8;
}
[data-theme="dark"]{
    --col1: #c5b085;
    --col2: #7e5626;
    --col3: #cf7d3a;
    --col4: #421b01;
    --col5: #9e755e;
	--col6: #692616;
    --col7: #251a0a;
    --col8: #d3c08b;
    --forum-shade: rgba(153, 10, 10, 0.05);
    --input: rgba(61, 30, 2, 0.2); 
    --bg-img: url("../img/sand.png"), var(--col7);
    --menu-bg: url("../img/sand2.jpg");
    --wrapper: rgba(39, 18, 1, 0.26);
    --polar: #554839;
    --text: rgb(250, 234, 224);
    --archivedtxt: rgb(95, 93, 93);
    --archivedbg: rgb(46, 46, 45);
    --lighthouse: rgb(241, 220, 99);
    --grad1: rgba(189, 126, 32, 0);
    --grad2: rgb(59, 23, 9);
    --nav-txt: #c7b5a6;
    --button: var(--nav-txt);
    /* CKEditor */
    --ck-color-base-border: #bd9b6f !important;
    --ck-color-toolbar-background: #836243 !important;
    --ck-color-base-background: #3d2d27 !important;
    --ck-color-tooltip-background: var(--col3) !important;
    --ck-color-split-button-hover-background: var(--col2) !important;
    --ck-color-button-default-hover-background: var(--col2) !important;
    --ck-color-button-default-active-background: var(--col2) !important;
    --ck-color-button-on-hover-background: var(--col2) !important;
}

hr{
    background-image:url('../img/svg/horizontal_rule_sand.svg');
}