/* Shells Theme Colours */
:root{
    --col1: #5a0539;
    --col2: #e887e0;
    --col3: #dd3287;
    --col4: #973c80;
    --col5: #b327a0;
	--col6: #421d3a;
    --col7: #f3d6e3;
    --col8: #501638;
    color-scheme: light;
}
html{
    background-image: url("../img/shells.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#menubg{
    background: url("/img/seashells.jpg");
    background-size: cover;
    background-position: center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(209, 60, 189) 0%, rgba(133, 5, 75, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}