/* Slate Theme Colours */
:root{
    --col1: #272727;
    --col2: #a7a7a7;
    --col3: #f8f8f8;
    --col4: #747474;
    --col5: #7c7c7c;
	--col6: #292929;
    --col7: #dbdbdb;
    --col8: #131313;
    color-scheme: light;
    --forum-shade: rgba(65, 65, 65, 0.05);
}
html{
    background-image: url("../img/slate.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#menubg{
    background: url("/img/biolum.jpg");
    background-size: cover;
    background-position: bottom 35% center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}