/* Sand Theme Colours */
:root{
    --col1: #9b10ad;
    --col2: #f0c539;
    --col3: #bff540;
    --col4: #701346;
    --col5: #2fc229;
	--col6: #21640c;
    --col7: #d6fde8;
    --col8: #0e093d;
    color-scheme: light;
    --forum-shade: rgba(52, 163, 52, 0.05);
}
html{
    background-image: url("../img/spring-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menubg{
    background: url("/img/spring.jpg");
    background-size: cover;
    background-position: center center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(79, 5, 109) 0%, rgba(41, 23, 0, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}