/* Sand Theme Colours */
:root{
    --col1: #664f05;
    --col2: #f5bc52;
    --col3: #ffa011;
    --col4: #132170;
    --col5: #da771a;
	--col6: #1686a8;
    --col7: #fcf5eb;
    --col8: #3d2809;
    color-scheme: light;
    --forum-shade: rgba(36, 33, 209, 0.05);
}
html{
    background-image: url("../img/summer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menubg{
    background: url("/img/summer.jpg");
    background-size: cover;
    background-position: center center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(255, 231, 13) 0%, rgba(41, 23, 0, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col4)
}