/* Summer Theme Colours */
[data-theme="light"]{
    --col1: #664f05;
    --col2: #f5bc52;
    --col3: #ff9100;
    --col4: #132170;
    --col5: #da771a;
	--col6: #1686a8;
    --col7: #fcf5eb;
    --col8: #3d2809;
    --forum-shade: rgba(36, 33, 209, 0.05);
    --input: rgba(255, 229, 158, 0.2); 
    --bg-img: url("/img/summer-bg.png");
    --menu-bg: url("../img/summer.jpg");
    --wrapper: rgba(255, 246, 241, 0.527);
    --text: black;
    --archivedtxt: grey;
    --archivedbg: silver;
    --lighthouse: rgb(255, 223, 117);
    --grad1: rgba(167, 105, 12, 0);
    --grad2: rgb(238, 94, 37);
    --nav-txt: #fff5c6;
    --button: var(--nav-txt);
}
[data-theme="dark"]{
    --col1: #f8d257;
    --col2: #a06b08;
    --col3: #a36514;
    --col4: #a0aeff;
    --col5: #f3b67e;
	--col6: #362d02;
    --col7: #1f2b42;
    --col8: #f1c583;
    --forum-shade: rgba(36, 33, 209, 0.05);
    --input: rgba(255, 229, 158, 0.2); 
    --bg-img: url("/img/night-lighthouse.png"), var(--col7);
    --menu-bg: url("../img/night.png");
    --wrapper: rgba(39, 14, 1, 0.527);
    --text: rgb(255, 251, 214);
    --archivedtxt: grey;
    --archivedbg: silver;
    --lighthouse: rgb(255, 223, 117);
    --grad1: rgba(12, 35, 167, 0);
    --grad2: rgb(22, 3, 66);
    --nav-txt: #fff5c6;
    --button: var(--nav-txt);
}
hr{
    height:3em;
    background-image:url('../img/svg/horizontal_rule_summer.svg');
}

.greeting{
    color: var(--col4);
}

.version{
    color:gainsboro;
}