/* Waves Theme Colours */
:root{
    --col1: #05465a;
    --col2: #87dde8;
    --col3: #50f7b7;
    --col4: #29489c;
    --col5: #000b6e;
	--col6: #1d2c42;
    --col7: #62a3c9;
    --col8: #1f2b5f;
    color-scheme: light;
    --forum-shade: rgba(10, 13, 153, 0.05);
}
html{
    background-image: url("../img/water.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#menubg{
    background: url("/img/big-wave.jpg");
    background-size: cover;
    background-position: top 25% center;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(186, 230, 255) 0%, rgba(153, 161, 255, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname > *{
    color: var(--col5)
}