/* Waves Theme Colours */
:root{
    --col1: #05465a;
    --col2: #87dde8;
    --col3: #50f7b7;
    --col4: #29489c;
    --col5: #000b6e;
	--col6: #1d2c42;
    --col7: #3e7ea3;
    --col8: #1f2b5f;
}
html{
    background-image: url("../img/water.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}