/* Sand Theme Colours */
:root{
    --col1: #0a7f8f;
    --col2: #bee7ff;
    --col3: #2cd4c6;
    --col4: #13705c;
    --col5: #2ba1be;
	--col6: #166ea8;
    --col7: #c3faf7;
    --col8: #09193d;
    color-scheme: light;
    --forum-shade: rgba(1, 149, 175, 0.05);
}
html{
    background-image: url("../img/winter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menubg{
    background: url("/img/winter.jpg");
    background-size: cover;
    background-position: top left;
}
#menubg:after{
    content:' ';
    background: linear-gradient(90deg, rgb(32, 140, 167) 0%, rgba(41, 23, 0, 0) 100%);
    width: 50%;
    height: 150px;
    z-index: -3;
    position: absolute;
    top:0;
    lefT:0;
}
#logoname, #logoname > *{
    color: var(--col7)
}