<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header-error.ejs") %>
    </head>
    <body>
        <script>0</script>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <img src="/img/svg/buoy.svg" style="height:calc(24em); float: left;">
            <h2>We're treading past the buoys at this point.</h2>
            <p>You don't have access to this page. This may be a moderator only area, or you need to log in to view this page.</p>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
