<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
        <section>
        <h1>The System Behind the Site</h1>
        <p>The app "Lighthouse" is made by <strong>The Lighthouse System</strong>. We are a system of 7. We're around <%= new Date().getFullYear() - 1996 %> (birthday is in January so this is most likely correct), and two hosts have gone through college.</p>
        <p>One issue our system had as we got to understand DID was the ability to have a private space for journalling, away from other alters. The honour system wouldn't work-- We have nosy alters. So over the year, I (Dee) began to work on an app to help make separate and a communal journal. First, I tried making it with Flask/Python but didn't like the set up (also deploying it was cumbersome). Then, I tried with PHP but found it annoying to connect a database. So here we are now, with the PERN stack: Postgres, Express JS, React JS, and Node JS. I'm more comfortable with this stack.</p>
    </section>
    <section>
        <h2>Guidelines</h2>
        <p>These are here solely to protect the users and developer of the website. All persons will be addressed in <em>singular form</em> for legal purposes.</p>
        <dl>
            <dt>Encryption
            <dd><strong>Everything you write on this app is secured.</strong> The data you enter to this website is <strong>not</strong> stored in plain text. It is encrypted, with the encrypted data being shuffled in a very specific way to protect information. Likewise, the data is then decrypted and encrypted solely on your end so that should someone get in the middle, they get a jumbled mess of code that can't be deciphered instead of your actual data.</dd>
            <!-- <dt>Unauthorised Use
            <dd><p><strong>This is strictly for journalling.</strong> You may not use this app aside from its intended purpose of journalling day to day. Harmful documentation (manifestos, hate articles, etc) is subject to deletion. If it's bad enough that the authorities get involved, then the data will be de-crypted and handed over to authorities as requested.</p> <p>Your data will <strong>not</strong> be de-crypted and shared otherwise.</p></dd> -->
            <dt>Copyright</dt>
            <dd><p><strong>Everything you write on this app is yours, forever.</strong> Lighthouse will not use your journal(s) to promote the app, or display to anyone else. Lighthouse relinquishes copyright of any material written by users on the app.</dd>
        </dl>
    </section>
    <section>
        <p>Want to see what's on the itinerary? Everything is tenative. <a href="/todos">Check it out!</a></p>
    </section>
</div>
<%- include ("../partials/footer.ejs") %>
    </body>
</html>
