<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
        <section>
        <h1>The System Behind the Site</h1>
        <p>The app "Lighthouse" is made by <strong>The Lighthouse System</strong>. We are a system of 7. We're around <%= new Date().getFullYear() - 1996 %> (birthday is in January so this is most likely correct), and two hosts have gone through college.</p>
        <p>One issue our system had as we got to understand DID was the ability to have a private space for journalling, away from other alters. The honour system wouldn't work-- We have nosy alters. So over the year, I (Dee) began to work on an app to help make separate and a communal journal. First, I tried making it with Flask/Python but didn't like the set up (also deploying it was cumbersome). Then, I tried with PHP but found it annoying to connect a database. So here we are now, with the PERN stack: Postgres, Express JS, React JS, and Node JS. I'm more comfortable with this stack.</p>
    </section>
    <section>
        <p>Want to see what's on the itinerary? Everything is tenative. <a href="/todos">Check it out!</a></p>
    </section>
    <section>
        <h2>Features of Lighthouse</h2>
        <dl>
            <dt>Encryption
            <dd><strong>Everything you write on this app is secured.</strong> The data you enter to this website is <strong>not</strong> stored in plain text. It is encrypted. Likewise, the data is then decrypted and encrypted solely on your end so that should someone get in the middle, they get a jumbled mess of code that can't be deciphered instead of your actual data.</dd>
            <dt>Copyright</dt>
            <dd><strong>Everything you write on this app is yours, forever.</strong> Lighthouse will not use your journal(s) to promote the app, or display to anyone else. Lighthouse relinquishes copyright of any material written by users on the app.</dd>
        </dl>
    </section>
    <section>
        <h2>Lighthouse's Guidelines</h2>
        <p>Though the app is encrypted and secure, Lighthouse cannot promise that every wifi network is secure and encrypts information. <strong>Lighthouse is not responsible for damages or losses caused by insecure wifi networks.</strong></p>
        <p>So what are the ground rules, despite it being private?</p>
        <dl>
            <dt>This app is for journalling only.</dt>
            <dd>You may not use this app aside from its intended purpose of journalling day to day. Harmful documentation (manifestos, hate articles, posts with intent/plans to harm others or self, etc) is subject to deletion. If it's bad enough that the authorities get involved, then the data will be de-crypted and handed over to authorities as requested. Your data will <strong>not</strong> be de-crypted and shared otherwise.</dd>
            <dt>Lighthouse cannot and will not determine who is and is not qualified for the "plural" label.</dt>
            <dd>Pretty self-explanatory. If you, the user, feel that journalling like this is best for you, then you may use the app.</dd>
            <dt>Lighthouse will not be a social app and is not intended for roleplay, socialising, or other public activity.</dt>
            <dd>This app will not implement messaging, forums, user lookup, etc.</dd>
        </dl>
    </section>
    <section>
        <p>Interested in talking to the developer?</p>
    </section>

</div>
<%- include ("../partials/footer.ejs") %>
    </body>
</html>
