<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
          <% if (locals.messages.flash) { %>
            <div class="splash"><%- locals.messages.flash %></div>
        <% } %>
          <h1>Lighthouse's Cookie and Session Usage</h1>
          <p>Lighthouse uses cookies to keep your place in the website. It does not collect data on how you use the website, or anything except what is strictly necessary.</p>
          <h2>What's a cookie, and what are you storing?</h2>
          <p>Cookies are little bits of information that get stored on your device that lets websites remember you. They can also be used to make more targeted, personalised ads on large websites such as Facebook and Twitter.</p>
          <p>GDPR laws require websites to let users know if there are non-essential cookies being stored. Though Lighthouse is based in the United States, we are aiming to comply with GDPR as closely as possible. Most websites ask if you want to opt-out of all cookies except strictly necessary ones. 

        </p>
          <p>These cookies last for 1 week. You'll stay logged in for a week before being asked to log in again.</p>
          <h2>What's a session, and what are you storing?</h2>
          <p>Sessions are a means of storing information for the user between HTTP requests, such as pressing the "log in" button, "write post" button, or navigating to new pages. Lighthouse stores as little in sessions as possible, but these variables are accessible only to you. We store which system is currently selected, which alter is currently selected, and a collection of journal posts by specific alters or the communal journal to show you. These variables are stored only on your end.</p>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
