<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
        <style>
           @font-face {
                font-family: "Lexend";
                src: url("./fonts/Lexend.ttf");
            }
            @font-face {
                font-family: "Berkshire Swash";
                src: url("./fonts/BerkshireSwash.ttf");
            }
            @font-face {
                font-family: "Roboto Slab";
                src: url("./fonts/RobotoSlab.ttf");
            }
            .tinyimg{
                width: calc(4em);
                height: auto;
            }
            h1, h2, h3, h4{
                color: #911111;
            }
            h1{
                font-family: 'Berkshire Swash', serif;
            }
            h2,h3,h4{
                font-family: 'Roboto Slab', serif;
            }

            #wrapper{
                width: 50vw;
                height: auto;
                min-height: 10vh;
                padding: calc(2em);
                margin: 0 auto;
                max-height: 80vh;
                background: #ccebe8; 
                border: 4px solid #123859;
            }

            #wrapper::after{
            content: "";
            clear: both;
            display: table;
            }
            hr {
                display:block;
                border:0px;
                height:calc(2em);
                background-image:url('<%- config.url_prefix %>/img/horizontal_rule.svg');
                background-repeat: no-repeat;
                background-position: center; 
            }
            p{
                font-family: "Lexend", Arial, Helvetica, sans-serif;
                text-indent: 1em;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
           <img src="<%- config.url_prefix %>/img/logo.png" class="tinyimg" style="float:left; margin-right: calc(2vw); border-radius: 5em;">
           <h1>Farewell, <%- alias %>.</h1>
           <hr>
            <p>Thanks for using Lighthouse. We're sorry to see you go!</p> 
            <p><strong>Account deletion is permanent and cannot be reversed.</strong> However, you are free to sign back up when or if you'd like to.</p>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
