<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Check your email!</h2>
            <p>A 4 digit PIN will be sent to you. When you follow the link, input that PIN along with your new password to verify it's you! (Check spam, just in case. You should receive an email from <strong>dee_deyes@writelighthouse.com</strong>)</p><br/>
            <a class="navel" href="/">Back Home</a>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
