<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h2>Hold on, thinking...</h2>
            <p>Lighthouse is working in the background.</p>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
