<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
                        #signup{
                color: var(--col4);
                font-weight: 800;
                cursor: pointer;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (messages.flash){ %> <p class="splash"><%= messages.flash %></p><% } %>
            <h2>Log In to Lighthouse</h2>
            <small>No Account? <a id="signup" href="/signup">Signing Up takes only a minute!</a></small><br/>
            <form method="post">
                <label for="email">Email: </label>
                <input type="email" placeholder="something@mail.com" name="email"></br>
                <label for="password">Password: </label>
                <input type="password" name="password"><br/>
                <input type="submit" value="Log in"><br/>
                
            </form>
            <br/>
            <a href="/forgot-password">Forgot your password, or need to reset it?</a>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
