<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <h2>Log In to Lighthouse</h2>
            <form method="post">
                <label for="email">Email: </label>
                <input type="email" placeholder="something@mail.com" name="email"></br>
                <label for="password">Password: </label>
                <input type="password" name="password"><br/>
                <input type="submit" value="Log in"><br/>
                <div style="margin-top: 1em"><input type="checkbox" name="remember" style="float:left;">
                    <label for="remember">Keep me logged in (lasts 1 week)<br/><small>Not checking the box will keep you logged in until your browser closes.</small></label></div>
                
            </form>
            <br/>
            <a href="/forgot-password">Forgot your password, or need to reset it?</a>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
