<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
                        #signup{
                color: var(--col4);
                font-weight: 800;
                cursor: pointer;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (!isLoggedIn(cookies)){ %>
            <div id="loggedIn" class="splash" style="display:none">Hi, <span id="greeting">friend</span>! You are now logged in. Redirecting you now...</div>
            <div id="wrongpass" class="splash" style="display:none">Incorrect email and/or password. <a href="/forgot-password">Need to reset your password?</a></div>
            <div id="loginerror" class="splash" style="display:none">There seems to have been a hiccup since our security update. <a href="/forgot-password">Please reset your password,</a> and then log in again.</div>
            <h2>Log In to Lighthouse</h2>
            <small>No Account? <a id="signup" href="/signup">Signing Up takes only a minute!</a></small><br/>
            <form method="post">
                <label for="email">Email: </label>
                <input type="email" placeholder="something@mail.com" name="email" id="email"><br/>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password"><br/>
                <button id="login">Log In</button>
                <div id="Wait" style="display:none"><img src="/img/svg/bubbles.svg" class="tinyimg"></div>
            </form>
            <br/>
            <a id="fgglow" href="/forgot-password">Forgot your password, or need to reset it?</a>
            <% } else { %>
                <h2>You are Already Logged In!</h2>
                <p class="dyn">You are currently logged in as: <b><%- cookies.username %></b>. Would you like to log out, or go to your [[SYSTEMCAP]] page?</p>
                <div>
                    <a class="linkbutton dyn" href="/system">Go to My [[SYSTEMCAP]]</a>
                    <a class="linkbutton dyn" href="/logout">Log Out</a>
                </div>
            <% } %>
        </div>
        <%- include ("../partials/footer.ejs") %>
        <script>
            $("#login").click(async function(){
                event.preventDefault();
                $("#login").hide();
                $("#Wait").show();
            let response = await fetch(`/api/user/auth`, { 
                method: "GET",
                headers: { 
                  "api-lh-call": "api-lh-call",
                  'Content-Type': 'application/json',
                  'email': $("#email").val(),
                  'tok': $("#password").val(),
                }
            });
            let resBod = await response.text();
            if (response.ok){
                // Good. Proceed to log in.
                let userInfo = JSON.parse(resBod);
                $("#fgglow").removeClass("glow");
                $.iaoAlert({ msg: `Hello, ${userInfo.name}! You are now logged in.`, type: "success", mode: "dark", autoHide: false })
                setTimeout(async function(){
                    window.location.replace("/system");
                }, 3000);
            } else {
                if (response.status === 401) {
                    $("#Wait").hide();
                    $("#login").show();
                    $.iaoAlert({ msg: `Wrong Email or Password. <a href="/forgot-password">Need to reset your password?</a>`, type: "error", mode: "dark", autoHide: false});
                } else if (response.status === 500) {
                    $("#Wait").hide();
                    $("#login").show();
                    $.iaoAlert({ msg: `There seems to have been a hiccup since our security update. <a href="/forgot-password">Please reset your password,</a> and then log in again.`, type: "error", mode: "dark", autoHide: false});
                } else {
                    $("#Wait").hide();
                    $("#login").show();
                    $.iaoAlert({ msg: `An unexpected error occurred. Please try again later.`, type: "error", mode: "dark", autoHide: false});
                }
            }
            })
        </script>
    </body>
</html>
