<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <img src="/img/svg/broken_anchor.svg" style="height:calc(24em); float: left;">
            <h2>Down for a Bit</h2>
            <p>Lighthouse is down for a little bit while we do maintenance on it. This shouldn't take too long! Thank you for your patience.</p>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
