<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2>Developer Section</h2>
                <form method="post">
                    <input type="text" name="donor" placeholder="Add New Donor">
                    <input type="submit">
                </form>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
