<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
            #faq > dt::before {
                content: 'Q: ';
                font-style: normal;
            }
            #faq > dd::before{
                content: 'A: ';
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h1>Philosophy</h1>
            <article name="intro">
                <h2>Introduction</h2>
                <p class="dyn">Lighthouse is a website tailored specifically for people with [[ALTERS]] to document that experience and begin to understand their [[SYSTEM]] more. </p>  
            </article>
            <article>
                <h2>Lighthouse's Core Values</h2>
                <section>
                    <h3>Communication</h3>
                    <p class="dyn">The developer believes one of the most important first steps in healing as a [[SYSTEM]] is establishing communication internally. That's why a platform was created for [[ALTERS]] to have their own private spaces, and a space for the entire [[SYSTEM]]. By practicing sharing while maintaining internal boundaries, this is thought to be a key to achieving functional multiplicity.</p>
                    <p class="dyn">The developer's goal is to help other [[SYSTEMS]] get to a point of feeling safe and comfortable with their [[ALTERS]].</p>
                </section>
                <section>
                    <h3>Inclusivity</h3>
                    <p class="dyn">The developer believes the skill of internal communication is important not only to [[PLURAL]] users, but to anyone who feels they may benefit from organising thoughts and emotions. Lighthouse does not aim to gatekeep this resource from anyone who needs it. By keeping the website focused on the user first, it is believed that gatekeeping would be fundamentally counterproductive.</p>
                </section>
                <section>
                    <h3>Integrity</h3>
                    <p class="dyn">The developer believes that users should feel safe to express themselves and process memories without worry. Data is ensured to be encrypted at rest and in transit. Additionally, [[ALTER]] and user information is obfuscated for extra protection.</p>
                    <p class="dyn">Instead of socialising with others, the focus is on the individual user so they can truly have "me time." Lighthouse should be a space for users to focus on their own [[SYSTEM]].</p>
                    <p>Lighthouse will never employ a pay-to-use structure, place advertising on the website, or otherwise bar users from features using a paywall. The site itself is a passion project and will remain that way. Any donations are voluntary and not required of any user.</p>
                </section>
                <section>
                    <h3>Accessibility</h3>
                    <p>The developer believes in making Lighthouse as accessible and open to as many people as possible. This includes improving skins over time, developing multi-lingual support, and developing screen reader support. The developer is always open to learning and is happy to hear from the community.</p>
                </section>

                
            </article>
            
            <!-- -------- -->
            <article name="conclusion">
                <h2>Conclusion</h2>
                <p class="dyn">Safe and healthy internal communication is key to functionality. Lighthouse welcomes <strong>anyone</strong> who feels they need to journal in a structure like this, not just medically recognised [[SYSTEMS]]. User safety is paramount. Data is encrypted, and user information is protected. Focus is on individual exploration, not social interaction. Lighthouse is a free, passion project. The goal is to make Lighthouse an accessible platform for as many users as possible.</p>            </article>
            
            <!-- -------- -->
            <article name="faq">
                <h2>FAQ</h2>
                <p>Here are some frequently asked questions about Lighthouse.</p>
                <dl id="faq">
                    <dt>Is the developer a medical professional?</dt>
                    <dd><strong>The developer is not a medical professional and cannot provide or replace medical care or advice.</strong> It is extremely important to seek help from a qualified professional that you trust. It would also be extremely unethical, illegal, and disingenuous to users if Lighthouse's content were to be called medical advice.</dd>
            
                    <dt>Will Lighthouse ever have any social features?</dt>
                    <dd class="dyn">Lighthouse is designed exclusively to be a private and safe space for users. The developer believes the privacy aspect of Lighthouse is crucial for some [[SYSTEMS]] to feel comfortable enough to use the platform.<br>For those interested in socialising with other [[SYSTEMS]], the developer recommends <a href="https://www.pluralkit.me/" target="_blank" aria-label="Pluralkit on the Web">Pluralkit</a> and <a href="https://tupperbox.app/" target="_blank" aria-label="Tupperbox on the Web">Tupperbox</a> on Discord.</dd>
            
                    <dt>Who can use Lighthouse?</dt>
                    <dd class="dyn">Anyone who thinks this kind of journalling can help them is welcome to use Lighthouse. The developer is a diagnosed and trauma-based [[SYSTEM]], also known as a DID [[SYSTEM]]. The app was originally designed just for the developer, so many of the app's functions cater to DID and trauma. That said, the developer does not want to gatekeep who can and cannot find a use for this app. This entire topic is highly controversial, and the developer does not have the medical credentials to determine who can and cannot benefit from a resource.</dd>
            
                    <dt>Can people see what I write on Lighthouse?</dt>
                    <dd>Nope! What users write is encrypted and decrypted on the front end. Essentially, any middleman or attacker would receive a jumbled mess of gibberish instead of what users wrote, without the key to decrypt whatever the gibberish says. Not even the developer can read it.</dd>
            
                    <dt class="dyn">Thoughts on other [[PLURAL]]-related apps?</dt>
                    <dd>The developer encourages users to utilise whatever they find useful. Lighthouse's aim is not to replace any one resource, but to supplement them. See the next section for a list of other tools that can improve internal communication.</dd>
                </dl>
            </article>
            
              <article>
                <h2>Other Resources</h2>
                <section>
                    <h3 class="dyn">For Internal [[SYSTEM]] Chatting</h3>
                    <ul>
                        <li>Antar <a aria-label="Antar on Google Play Store" href="https://play.google.com/store/apps/details?id=com.satya.antar&pcampaignid=web_share" target="_blank">(Android)</a> <a aria-label="Antar on iOS App Store" href="https://apps.apple.com/us/app/antar-chat/id1550724250" target="_blank">(iOS)</a>- An offline app that allows for internal communication using threads and chat windows as "personas".</li>

                        <li>SelfTalking <a target="_blank" href="https://apps.apple.com/us/app/selftalking/id1019096446" aria-label="SelfTalking on iOS App Store">(iOS only)</a>- An app to leave memos in a chat-based style using "icons". Data is stored exclusively on the user's device.</li>

                        <li>Mytter <a target="_blank" href="https://play.google.com/store/apps/details?id=net.yufuan.mytter" aria-label="Mytter on Google Play Store">(Android)</a> <a target="_blank" href="https://apps.apple.com/us/app/mytter/id1121493823" aria-label="Mytter on iOS App Store">(iOS)</a>- An offline app that allows for chatting between "icons" in a Twitter-like layout. Data is stored exclusively on the user's device.</li>
                    </ul>
                </section>
                <section>
                    <h3>For External System Chatting</h3>
                    <ul>
                        <li class="dyn"><a href="https://www.pluralkit.me/" target="_blank" aria-label="Pluralkit on the Web">Pluralkit</a>- A Discord bot for [[PLURAL]] users to chat as their [[ALTERS]]. Because it's a discord bot, it can be used in public spaces. Has import and export functionality.</li>
                        <li><a href="https://tupperbox.app/" target="_blank" aria-label="Tupperbox on the Web">Tupperbox</a>- A functionally similar bot to Pluralkit, but is more focused on roleplay than for plurality.</li>
                    </ul>
                </section>
                <section>
                    <h3>For journalling</h3>
                    <ul>
                        <li>Mystagram <a href="https://apps.apple.com/us/app/mystagram-private-photo-diary/id1331261698" target="_blank" aria-label="Mystagram on iOS App Store">(iOS Only)</a>- An offline app for photo journalling with individual profiles in an Instagram-like layout (commenting included). Data is stored exclusively on the user's device.</li>
                        <li><a href="https://www.lugelo.com/" target="_blank" aria-label="Lugelo on the Web">Lugelo</a>- An app that allows a user to have multiple journals, but they can be made public.</li>
                    </ul>
                </section>
            </article>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
