<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <h2>Import from Pluralkit</h2>

        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
