<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Thank you</h2>
            <p>Thank you for signing up. You can now log in.</p>
            <p><strong>Do not refresh!</strong></p>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
