<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section>
                <h2>To our wonderful community,</h2>
                <p>Thank you for joining Lighthouse and being here since it was just barely functioning. This is obviously not the end-- it's quite the opposite! We're just only getting started.</p>
                <p>We, the Lighthouse System, have a few messages we'd like to tell you.</p>
            </section>
            <section id="Dee">
                <h3>A Word From Dee 🎹</h3>
                <p><small>He/Him • Host & Protector • Introject (2D, Gorillaz)</small></p>
                <div style="float:left; margin-right:calc(.5em);"><img src="/img/LS-icons/Dee.webp" class="medimg" alt="Dee's avatar: 2D from Gorillaz, Demon Days era"><br><small>Art- Jamie Hewlett</small></div><p>This website is based on an old, old portal I originally built for my system back in 2019. Back then, it was made in PHP with hardly any security in it, because I assumed we'd be the only ones using it. So, like, everything was stored in plain text and there were no safeguards in place to make sure it was us accessing the thing, and not some bad actor. Man, was that a dumb move on my part.</p>
                <p>But as I made it, I was like "Hey, maybe others could use this too." And so I spent a while spitballiing the best way to set this thing up to handle other users too.</p>
                <p>It's been in development for a real long time, and I'm super glad people have found a use in it, too. Working on this also helped me to communicate better with other alters I tended to get into fights with (Nick), so everyone wins I think!</p>
            </section>
            <hr>
            <section id="Stu">
                <h3>A Word From Stu 🌺</h3>
                <p><small>He/They • Co-Host & Caretaker • Introject (2D, Gorillaz)</small></p>
                <div style="float:right; margin-left:calc(.5em);"><img src="/img/LS-icons/Stu.webp" class="medimg" alt="Stu's avatar: 2D from Gorillaz, Song Machine era"><br><small>Art- Jamie Hewlett</small></div>
                <p>I don't really have much to say, since I don't really do much programming when I'm out. But thank you for using Lighthouse either way!! I'll just talk about other things then.</p>
                <p>Before Dee's original portal for us, we used a binder and lined paper. It was hard for us to communicate, because some alters' handwriting was just downright illegible... Mine included, haha.</p>
                <p>The system became aware of me during an emergency, when I fronted and quite literally and very narrowly saved our life. Unfortunately for a while after, fronting for emergencies and de-escalation was all I knew. I didn't have time to grow and get to know myself.</p>
                <p>It's kind of sad to know others might be in a similar situation, and I want them to know that it's ok to be out for a good reason, or out for no reason at all. I want to bring that energy into Lighthouse. So when you see little things reminding you "Hey, it's ok and you're ok!" that's probably me! ...Or I at least had a hand in adding that reminder.</p>
                <p>Anyway!! Thank you again! I've been so excited to watch Lighthouse grow. I'm going to make a cake at 100 users to celebrate. 🧡</p>
            </section>
            <hr>
            <section id="Nick">
                <h3>A Word From Nick ⚓</h3>
                <p><small>He/Him • Protector</small></p>
                <div style="float:left; margin-right:calc(.5em);"><img src="/img/LS-icons/Nick.png" class="medimg" alt="Nick's avatar: Black hair, dark eye bags, and an unamused look."><br><small>Art- vanityloves</small></div>
                <p>Being a protective part, the last thing I want is for someone I don't know to figure out more about us than I want them to. Does that make sense? So, when we began building Lighthouse for others to use, I made a point to be sure that things were as water-tight as possible. Dee would be the first to know that I'm not a fan of half-assed jobs, and my trust isn't something most people can redeem after tarnishing it. I really hope this doesn't come back to bite us in the rear later in the future.</p>
                <p>Our nautical theme doesn't just come from "The Lighthouse System". I love the ocean, and I feel very connected to it in the sense of an old sailor at sea.</p>
            </section>
            <hr>
            <section id="Dexter">
                <h3>A Word From Dexter 🍁</h3>
                <p><small>He/Him • Memory Holder</small></p>
                <div style="float:right; margin-left:calc(.5em);"><img src="/img/LS-icons/Dexter.png" class="medimg" alt="Dexters's avatar: Brown hair, square glasses, a plain collared shirt and a grey cardigan."><br><small>Art- PrismaticPanic</small></div>
                <p>We were officially diagnosed with Dissociative Identity Disorder in 2020, but the signs began to show in 2016. I was the host then, and I didn't take the news well at all. I was panicking constantly, and even went as far as to figure out how to "erase" the other alters so I could go back to being unaware of the disorder.</p>
                <p>This made the system a very hostile place. No one truly knew who was who, and we all mistook each other for other alters. This miscommunication would lead to a lot of self destructive, angry meltdowns and a disdain for the others. It was especially bad between Stu and myself. After a while, I threw in the towel and went dormant for around a year. While it's great that him and I had that time to cool down, I don't think we would've buried the hatchet and become friendly with each other if we hadn't built Lighthouse and began to truly understand each other's feelings.</p>
                <p>It's comforting to know that this tool is helping other people with this condition. No one should have to feel unwelcome in their own head like that. And I hope that using Lighthouse can eventually help alters learn to work together, and not against each other.</p>
            </section>
            <hr>
            <section>
                <p>Thank you again for supporting us through making this project real!</p>
                <p>Sincerely,</p>
                <img src="/img/svg/lighthouse-sig.svg" style="width:25vw;" alt="The Lighthouse System">
            </section>
            <section>
                <p>P.S.: Be on the lookout for a new journal skin in the coming days. The first 100 users will have an exclusive journal skin as a momento for your support.</p>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
