<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <section id="plans">
                <hgroup>
                    <h2>Plans for the app.</h2>
                </hgroup>
                <dt>Eventually...</dt>
                <dd>Pluralkit Integration, promoting Lighthouse on social media.</dd>

            <p>Got ideas? <a href="mailto:dannyliehr@gmail.com?subject=Lighthouse Suggestion" >Email us!</a></p>
            <p>Suggestions that will not be added:<ul>
                <li>Public posting</li>
                <li>User lookup</li>
                <li>Profile sharing</li>
                <li>Messaging between users</li>
            </ul></p>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
