<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>
                <hgroup>
                    <h2>Plans for the app.</h2>
                    <h3>If Lighthouse were a building, it would currrently be just a giant frame with, like, a lightbulb or two.</h3>
                </hgroup>
                <p>Legend:</p>
                <ul>
                    <li>C: Create</li>
                    <li>R: Read/Retrieve</li>
                    <li>U: Update</li>
                    <li>D: Delete</li>
                </ul>
                <dt>Near Future</dt>
                <dd>U/D Systems, U/D Alters, C/R/U/D Journals + Passwords, C/R/U/D Journal Posts.</dd>
                <dt>Probably in 2022</dt>
                <dd>Customise journal icons, profile management, SEO (Search Engine Optimization), CSS styling after semantic HTML layout.</dd>
                <dt>Eventually...</dt>
                <dd>Pluralkit Integration, promoting Lighthouse on social media.</dd>

            <p>Got ideas? <a href="mailto:dannyliehr@gmail.com?subject=Lighthouse Suggestion" >Email us!</a></p>
            <p>Suggestions that will not be added:<ul>
                <li>Public posting</li>
                <li>User lookup</li>
                <li>Profile sharing</li>
                <li>Messaging between users</li>
                <li>Messaging between alters (Use Pluralkit, Antar, Mytter or Mystagram!)</li>
                <li>Alter details (use Simply Plural!)</li>
            </ul></p>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
