<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <section id="plans">
            <p>A list of ideas that regularly update can be found in our Discord: <a href="https://discord.gg/RQcfvtmKWn" target="_blank">Click here</a></p>
            <p>Got ideas? <a href="mailto:dannyliehr@gmail.com?subject=Lighthouse Suggestion" >Email us!</a></p>
            <p>Suggestions that will not be added:<ul>
                <li>Public posting</li>
                <li>User lookup</li>
                <li>Profile sharing</li>
                <li>Messaging between users</li>
            </ul></p>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
