<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <section id="plans">
                <hgroup>
                    <h2>Plans for the app.</h2>
                    <h3>If Lighthouse were a building, it would currrently be just a giant frame with, like, a lightbulb or two.</h3>
                </hgroup>
                <p>Legend:</p>
                <!-- <ul>
                    <li>C: Create</li>
                    <li>R: Read/Retrieve</li>
                    <li>U: Update</li>
                    <li>D: Delete</li>
                </ul> -->
                <dt>Eventually...</dt>
                <dd>Pluralkit Integration, promoting Lighthouse on social media.</dd>

            <p>Got ideas? <a href="mailto:dannyliehr@gmail.com?subject=Lighthouse Suggestion" >Email us!</a></p>
            <p>Suggestions that will not be added:<ul>
                <li>Public posting</li>
                <li>User lookup</li>
                <li>Profile sharing</li>
                <li>Messaging between users</li>
                <li>Messaging between alters (Use <a href="https://pluralkit.me" target="_blank">Pluralkit, <a href="https://twitter.com/antar_app" target="_blank">Antar</a>, Mytter <small><a href="https://play.google.com/store/apps/details?id=net.yufuan.mytter" target="_blank">Google Play</a> and <a href="https://apps.apple.com/us/app/mytter/id1121493823" target="_blank">App Store</a></small> or Mystagram <small><a href="https://play.google.com/store/apps/details?id=net.yufuan.mystagram" target="_blank">Google Play</a> and <a href="https://apps.apple.com/us/app/mystagram-private-photo-diary/id1331261698" target="_blank">App Store</a></small>!)</li>
                <li>Alter details (use Simply Plural <small><a href="https://play.google.com/store/apps/details?id=com.saltypandastudios.frontime" target="_blank">Google Play</a> and <a href="https://apps.apple.com/us/app/simply-plural/id1563146996" target="_blank">App Store</a></small>!)</li>
            </ul></p>
            </section>
        </div>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>
