<!DOCTYPE html>
<html lang="en" dir="ltr" style="visibility: hidden;">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>
                <h2>Hooray!</h2>
                <p>Your account has been verified. You can now use Lighthouse!</p>
                <p><a href="/tutorial" title="Tutorial" class="linkbutton">Get Started</a></p>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
