<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <section>   
                <h2>Worksheets for your <%- capitalise(session.system_term) %></h2>
                <ul>
                    <li><a href="/bda">Before, During, After</a></li>
                </ul>
            </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
